 

#root {
    background-color: #1799ab;
    text-align: center;
    padding: 150px;
    font-family: Arial, sans-serif;
    overflow-y: auto;
 

}

#back {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 22px #0000000d;

    height: 60vh;
    overflow-y: auto;

}

h1 {
    color: rgb(74, 120, 247);
}

.table-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

table {
  width: 90%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
