#demo {
    color: white;
    background-color: #343a40;
    padding: 15px 29px;
    text-align: center;
    font-size: .9em;
    box-shadow: 0 -2px 10px #0000001a;
    flex-shrink: 0;
    margin-top: auto;
}
